doctype html
html

	head
		meta(charset='utf-8')
		title Распродажа продукции для косметологов
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='css/fonts.css')
		link(rel='stylesheet', href='css/style.css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")

	body
		.w-page
			section.hero
				.hero__inner
					.hero__top
						a(href="mailto: info@bon-l.ru").hero__email info@bon-l.ru
						a(href="tel: 8 (495) 927-0-729").hero__phone 8 (495) 927-0-729
						.hero__callback
							button.hero__btn.js-to-callback Закзать звонок
							p.hero__hours График работы по будням с 9:00 до 18:00 (время московское).
					.hero__content
						h1.hero__title Распродажа продукции для косметологов 
						p.hero__subtitle -50% и более
						.hero__sep
						p.hero__text Биоревитализация, пептиды и мезотерапия по лучшей цене в России.
						p.hero__subtext Осенняя супер акция на остатки препаратов из прошлой поставки. Срок годности на все товары от 1 года! (минимальный до декабря 2020 года) Лучшие цены от официального представителя марок Meso-F (Швейцария) и Sonata (Израиль).
			section.discountText
				.container
					p Акция с 07.10.19 по 21.10.19
					p Офис в Москве, доставка по всей России. Защита от контрафакта. 
					p Оплата нал/безнал - официально, с чеками и документами. 
			section.case
				.container
					.case__inner
						.case__filter
							.filter
								button.filter__but.active(data-filter="*") Все
						.case__list
			section.forms
				.container
					p.forms__response
					.forms__inner
						.forms__item
							form(action="", method="post").form#callback
								p.form__title  Оставить заявку для обратного звонка:
								.form__group
									input(type="text", name="name", placeholder="Имя *", required)
								.form__group
									input(type="tel", name="phone", placeholder="Телефон *", required)
								input(type="hidden", name="form", value="callback")
								button.form__submit Отправить
						.forms__item
							form(action="", method="post").form#order
								p.form__title Оформить заказ:
								.form__group
									input(type="text", name="name", placeholder="Имя *", required)
								.form__group
									input(type="tel", name="phone", placeholder="Телефон *", required)
								.form__group
									input(type="email", name="email", placeholder="E-mail")
								.form__group
									input(type="text", name="city", placeholder="Город")
								input(type="hidden", name="order")
								input(type="hidden", name="form", value="order")
								input(type="hidden", name="total")
								.form__order
									.order
										p.order__empty В заказе пусто
										p.order__title Ваш заказ:
										.order__list
											p.order__item MESO-F Hair Cocktail x6
												button.order__delete Удалить
										.order__total Цена: 
											span.js-total 
											| ,00 р.
								button.form__submit Отправить
			footer.footer
				.container
					a(href="mailto: info@bon-l.ru") info@bon-l.ru
					a(href="tel: 8 (495) 927-0-729") 8 (495) 927-0-729
					a(href="https://www.instagram.com/lymmedrus/") @lymmedrus

			aside.popup
				table.popup__wrapper
					tr
						td.popup__container
							.popup__inner
								button.popup__close
									svg(width='61px', height='61px', viewBox='0 0 61 61', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns='http://www.w3.org/2000/svg')
										g#Group(transform='matrix(0.7071066 0.7071069 -0.7071069 0.7071066 30.11523 0.7070313)')
											path#Path-3(d='M0.5 0L0.5 41.5894', transform='translate(20.29492 -0.0001220703)', fill='none', stroke='#979797', stroke-width='1')
											path#Path-3(d='M0.5 0L0.5 41.5894', transform='matrix(-1.421085E-14 0.9999999 -0.9999999 -1.421085E-14 41.58936 20.29443)', fill='none', stroke='#979797', stroke-width='1')
								.popup__card.card
									.card__pic
										img(src="", alt="")
									.card__info
										p.card__name
										p.card__value
										p.card__price
										.card__contains
										button.card__add Добавить в корзину
									.card__tail

		script(src="js/isotope.pkgd.min.js")
		script(src="js/common.js")
